[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.26"
streamlit = "~=1.27"
opencv-python-headless = "*"

[dev-packages]
icecream = "*"
ipykernel = "*"
